{% extends "../base.html" %}
{% load i18n %}
{% load sass_tags %}

{% block title %}{% trans 'Add App' %}{% endblock %}

{% block head %}
<link href="{% sass_src 'maker/css/forms.scss' %}" rel="stylesheet" type="text/css" media="all">
{% endblock head %}


{% block rm-content %}

<h1>{% trans 'Add new App' %}</h1>

<div class="rm-form">
	<form action="" enctype="multipart/form-data" method="post">
		{% csrf_token %}
		{% include '../form.html' %}
		<div class="mdl-cell mdl-cell--6-col">
			<input type="submit" value="{% trans 'Upload APK' %}"/>
		</div>
	</form>
</div>

<p></p>

<div class="mdl-grid">
	<div class="mdl-card mdl-cell mdl-cell--2-col"
		 style="padding:1em; justify-content: flex-start;">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">{% trans 'Remote Repositories' %}</h2>
		</div>
		<div class="mdl-card__supporting-text mdl-color-text--grey-600">
			<ul class="mdl-list">
				<li class="mdl-list__item">
					<a class="mdl-list__item-primary-content" href="{% url 'add_app' repo_id %}">
						{% trans 'All' %}
					</a>
				</li>
				{% for repo in repos %}
				<li class="mdl-list__item">
					<a class="mdl-list__item-primary-content" href="{% url 'add_app' repo_id %}">
						<img src="{{ repo.icon.url }}" style="height: 32px;"/> {{ repo }}
					</a>
				</li>
				{% empty %}
				<p>{% trans "Sorry, but there are no remote repositories at the moment. Don't despair, you can add one below." %}</p>
				{% endfor %}
			</ul>
		</div>
		<div class="mdl-card__actions mdl-card--border">
			<a
					href="{% url 'add_remote_repo' %}"
					class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect rm-no-underline">
				{% trans 'Add' %}
			</a>
		</div>
	</div>

	<div class="mdl-cell mdl-cell--10-col">
		<div class="mdl-grid">
			{% for app in apps %}
			<a
					class="mdl-card mdl-shadow--2dp mdl-color--white rm-no-underline"
					style="margin: 10px;"
					href="{% url 'add_remote_app' repo_id app.repo.id app.id %}"
					title="{{ app.name }}">
				<div
						class="mdl-card__title mdl-card--expand"
						style="background: url({{ app.icon.url }}) top 12% right 12% no-repeat #fff;">
					<h5 class="mdl-card__title-text">
						{{ app.name }}
					</h5>
				</div>

				<div class="mdl-card__supporting-text mdl-color-text--grey-600">
					{{ app.summary }}
				</div>
			</a>
			{% empty %}
			<p>{% trans 'There are no apps from remote repositories.' %}</p>
			<p>{% trans 'If you just added a remote repository, wait for the apps to download and try again later.' %}</p>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock rm-content %}
