{% extends "../base.html" %}
{% load i18n %}
{% load sass_tags %}

{% block title %}{% trans 'Delete App' %}{% endblock %}
{% block toolbar-title %}<a href="{% url 'repo' app.repo.id %}">{{ app.repo.name }}</a>{% endblock %}

{% block head %}
<link href="{% sass_src 'maker/css/forms.scss' %}" rel="stylesheet" type="text/css" media="all">
{% endblock head %}


{% block rm-content %}

<div class="rm-form">
    <form action="" method="post">
        {% csrf_token %}
        <p>{% blocktrans %}Are you sure you want to delete your app "{{ object }}"?{% endblocktrans %}</p>
        <div class="mdl-cell mdl-cell--6-col">
            <input type="submit" value="{% trans 'Confirm' %}"/>
        </div>
    </form>
</div>

{% endblock rm-content %}
