{% extends "../base.html" %}
{% load i18n %}
{% load sass_tags %}

{% block title %}{% trans 'Edit App' %}{% endblock %}
{% block toolbar-title %}<a href="{% url 'repo' app.repo.id %}">{{ app.repo.name }}</a>{% endblock %}

{% block head %}
<link href="{% sass_src 'maker/css/forms.scss' %}" rel="stylesheet" type="text/css" media="all">
{{ form.media }}
{% endblock head %}


{% block rm-content %}

<h2 style="vertical-align: middle;">
    <img src="{{ app.icon.url }}" alt="App Icon" class="rm-icon"/> {% blocktrans %}Edit {{ app }}{% endblocktrans %}
</h2>

<div class="rm-form">
    <form action="" method="post">
        {% csrf_token %}
        {% include '../form.html' %}
        <div class="mdl-cell mdl-cell--6-col">
            <input type="submit" value="{% trans 'Save Changes' %}"/>
        </div>
    </form>
</div>

{% endblock rm-content %}
