{% extends "../base.html" %}
{% load i18n %}
{% load sass_tags %}

{% block title %}{% trans 'Add App' %}{% endblock %}

{% block head %}
<link href="{% sass_src 'maker/css/forms.scss' %}" rel="stylesheet" type="text/css" media="all">
{% endblock head %}


{% block rm-content %}

<h1>{% blocktrans with app=app.name repo=repo.name %}Add {{ app }} to {{ repo }}{% endblocktrans %}</h1>

<div class="mdl-grid">

	<div class="mdl-cell mdl-cell--12-col">

		<h2 style="vertical-align: middle;">
			<img src="{{ app.icon.url }}" alt="Repo Icon" class="rm-icon"/> {{ app.name }}
		</h2>

		{% if app.summary %}
		<p>{{ app.summary }}</p>
		{% endif %}

		<p>{{ app.description|safe }}</p>
	</div>

	<div class="mdl-cell mdl-cell--12-col"
		 style="display: block; white-space: nowrap; overflow: auto; margin-right: 10px; margin-bottom: 10px; padding: 10px">
		{% for screenshot in app.remotescreenshot_set.all %}
		<img src="{{ screenshot.get_url }}" style="display: inline-block; margin: 10px 0px 10px 10px; max-height:500px"/>
		{% endfor %}
	</div>
</div>

<p></p>

<div class="rm-form">
	<form action="" enctype="multipart/form-data" method="post">
		{% csrf_token %}
		{% include '../form.html' %}
		<input type="submit" value="{% blocktrans with repo=repo.name %}Add App to {{ repo }}{% endblocktrans %}"/>
	</form>
</div>

<p></p>

{% endblock rm-content %}
