{% extends "../base.html" %}
{% load i18n %}
{% load sass_tags %}

{% block title %}{% trans 'Delete Storage' %}{% endblock %}
{% block toolbar-title %}<a href="{% url 'repo' object.repo.id %}">{{ object.repo.name }}</a>{% endblock %}

{% block head %}
<link href="{% sass_src 'maker/css/forms.scss' %}" rel="stylesheet" type="text/css" media="all">
{% endblock head %}


{% block rm-content %}

<h1>{% trans 'Confirm Removal' %}</h1>

<div class="rm-form">
	<form action="" method="post">
		{% csrf_token %}
		<p>{% blocktrans %}Are you sure you want to remove the remote storage at "{{ object }}"?{% endblocktrans %}</p>
		<div class="mdl-cell mdl-cell--6-col">
			<input  class="rm-file-upload" type="submit" value="{% trans 'Confirm' %}"/>
		</div>
	</form>
</div>

{% endblock rm-content %}
